<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- FontAwsome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>

  </head>
  <body>
    <header class="header">
      <marquee behavior="scroll" direction="left" scrollamount="50"></marquee>
    </header>
    <div class="container-fluid">
      <div class="row">
        <!-- Student Profile -->
        <div class="col-md-4 col-12 align-self-center">
          <div class="logo_container">
            <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;height:auto;">
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              <strong>Student Profile</strong>
              <a href="{% url 'notifications' %}" class="float-right btn">Notifictions<span class="badge badge-primary badge-pill ml-1">{{nootification_count}}</a>
            </h5>
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <img src="{{MEDIA_URL}}{{user.image.url}}" alt="" style="height: 230px; width: 230px; border-radius: 50%; border: 2px solid black;">
              </div>
              <h5 class="card-title text-center mt-2">{{ user.name }}</h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>ID</td>
                    <td>{{ user.id }}</td>
                  </tr>
                  <tr>
                    <td>Batch</td>
                    <td>{{ user.batch }}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{ user.phone_number }}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{ user.address }}</td>
                  </tr>
                </tbody>

              </table>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Home</a>
              <a href="#" class="btn btn-info">Edit Profile</a>
              <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
            </div>
          </div>

        </div>
        <div class="col-md-8 col-12 align-self-center">
          <!-- Class Routine -->
          <marquee behavior="scroll" direction="left" class="text-danger">
            {% for notice in notices %}
            {{notice.notice}}
            {% endfor %}
          </marquee>
          {% block content %}{% endblock %}

        </div>

      </div>
    </div>

    {% block js_script %}

    {% endblock %}


  </body>
</html>
