{% extends "students/base.html" %}
{% load student_extras %}
{% load humanize %}
{% block content %}
<style media="screen">
  .notification {
    font-weight: 400;
    background-color: #e6e6e6;
  }
  .not_read {
    background-color: red;
  }
</style>
<div class="row">
  {% for notification in notifications %}

  <div class="col-12 notification p-2 mb-1">
    <div class="">
        {{notification.notification}}
    </div>
    <div class="mt-2 text-primary">
      {{ notification.created_at|naturaltime }}
    </div>

  </div>
  {% endfor %}
</div>
{% endblock %}
