{% extends "admin/base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-6 ">
    <div class="card">
      <div class="card-header">
        <h4>Add Live Class Link</h4>
      </div>
      <div class="card-body">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Batch input  -->
          <div class="form-group">
            <label for="batch_select">Select a batch</label>
            <select class="form-control" name="batch" id="batch_select">
              <option value="0"></option>
              {% for batch in batches %}
              <option value="{{ batch.id }}">{{batch.name}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Subject input -->
          <div class="form-group">
            <label for="subject_select">Select a Subject</label>
            <select class="form-control" name="subject" id="subject_select">
              <option value=""></option>
            </select>
          </div>
          <!-- Class url input -->
          <div class="form-group">
            {{ form.url.errors }}
            {{ form.url.label_tag }}
            {{ form.url }}
            {% if form.url.help_text %}
              <small id="{{field.id_for_label}}" class="form-text text-muted">{{ form.url.help_text|safe }}</small>
            {% endif %}
          </div>

          {{ form.classdate.errors }}
          {{ form.classdate.label_tag }}
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

            {{ form.classdate }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            {% if form.subject.help_text %}
              <small id="{{field.id_for_label}}" class="form-text text-muted">{{ form.subject.help_text|safe }}</small>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.classtime.errors }}
            {{ form.classtime.label_tag }}
            {{ form.classtime }}
            {% if form.classtime.help_text %}
              <small id="{{form.classtime.id_for_label}}" class="form-text text-muted">{{ form.classtime.help_text|safe }}</small>
            {% endif %}
          </div>

          <div class="text-center">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>

      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block js_script %}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY',
      });

    });
</script>


<script type="text/javascript">
  $("#batch_select").change(function(){
    $('#subject_select').find('option:not(:first)').remove();
    var batch_id = $(this).children("option:selected").val();
    $.ajax({
      url: "{% url 'ajax_batch_to_subjects' %}",
      data: {
        'batch_id': batch_id,
      },
      dataType: 'json',
      success: function (data) {
        parse_data = jQuery.parseJSON(data)
        $.each(parse_data, function( index, value ) {
          $('#subject_select').append('<option value=' + value.pk + '>' + value.fields.name +'</option>');
        });

      }
    });
  });
</script>

{% endblock %}
