{% extends "admin/base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 ">
    <div class="card">
      <div class="card-header">
        <h4>Add Subject</h4>
      </div>
      <div class="card-body">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="" action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="select_batch">Select a batch</label>
            <select class="form-control" name="batch" id="select_batch">
              <option value=""></option>
              {% for batch in batches %}
                <option value="{{ batch.id }}">{{ batch.name }}</option>
              {% endfor %}

            </select>
          </div>
          <div class="bg-light">
            <h5>Already added subjects</h5>
            <ol id="added_subjects">
              <li>Bangla</li>
            </ol>
          </div>
          <div class="form-group">
            <label for="subject">Subjects</label>
            <input type="text" name="subjects" value="" class="form-control" id="subject">
            <small>You can add multiple subjects at a time. For this you need to add multiple subject using comma(,) saperated. ex. Bangla, English, Math
            </small>
          </div>
          <input type="submit" name="submit" value="Add subjects" class="btn btn-success mt-2">
          <input type="submit" name="next" value="Add subjects & Next" class="btn btn-success mt-2">

        </form>

      </div>

    </div>
  </div>

</div>


{% endblock %}

{% block js_script %}



<script type="text/javascript">
  $("#select_batch").change(function(){
    $('#added_subjects').find('li').remove();
    var batch_id = $(this).children("option:selected").val();
    $.ajax({
      url: "{% url 'ajax_batch_to_subjects' %}",
      data: {
        'batch_id': batch_id,
      },
      dataType: 'json',
      success: function (data) {
        parse_data = jQuery.parseJSON(data)
        $.each(parse_data, function( index, value ) {
          $('#added_subjects').append('<li>' + value.fields.name +'</li>');
        });

      }
    });
  });
</script>

{% endblock %}
